/* Tailwind CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none;    /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;            /* Chrome/Safari */
  }
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

